/*! normalize.css v3.0.2 | MIT License | git.io/normalize */html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
a {
    text-decoration: none;
    color: #a67fb5;
}
/** MAIN 
-------------------------------------------------------------------------------**/
.zopim {
	display: none !important;
}
body {
    background: #E9F0F3;
    font-family: 'Montserrat', sans-serif;
}
/*h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}*/
.wrap {
    position: relative;
}
.site-container {
    max-width: 1280px;
    margin: 0 auto;
}
.wrap::before,
.wrap::after,
.site-container::before,
.site-container::after,
.site-header::before,
.site-header::after,
.side-area::before,
.side-area::after,
.site-inner::before,
.site-inner::after,
.site-footer::before,
.site-footer::after,
.header-area::before,
.header-area::after,
.site-content::before,
.site-content::after,
.dashboard-content::after,
.section-inner::after,
.user-row::after,
.float::after,
.availability-content .ui-datepicker::after,
.clear::after,
.fd-con::after,
.clear {
    display: block;
    content: "";
    clear: both;
    overflow: hidden;
}
.back-to, .side-nav li, .btn, .button-primary {
    webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}
.gold {
    color: #C4AB63;
}
.btn, .button-primary {
    text-transform: uppercase;
    background: #66d8cc;
    border: 2px solid #66d8cc;
    color: #fff;
    font-size: 11px;
    padding: 10px 20px;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
.btn:hover, .button-primary:hover {
    color: #66d8cc;
    background: #fff;
    border: 2px solid #66d8cc
}
.btn[disabled] {
    opacity: .6;
    background: #66d8cc;
    border: 2px solid #66d8cc;
    color: #fff;
    cursor: not-allowed;
}
/** Side Element 
-------------------------------------------------------------------------------**/
.back-to {
    color: #654175;
    text-transform: uppercase;
    font-size: 10px;
    text-align: center;
    display: block;
    padding: 19px 0;
    line-height: 1;
}
.back-to:hover {
    color: #A67FB5;
}
.side-area {
    max-width: 200px;
    width: 100%;
    float: left;
    background: #320148;
    height: 100%;
    position: fixed;
}
.tagline {
    display: block;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 15px;
}
.side-nav {
    margin: 0;
    padding: 0;
}
.side-nav li {
    display: block;
    list-style: none;
    padding-left: 15px;
}
.side-nav li.active, .side-nav li:hover {
    background: #801D8F;
}
.side-area li a {
    font-size: 11px;
    text-transform: uppercase;
    color: #fff;
    padding: 12px 0;
    display: block;
    padding-left: 35px;
}
.side-nav.second {
    position: absolute;
    bottom: 45px;
    width: 100%;
}
/** Content Element 
-------------------------------------------------------------------------------**/
.site-inner {
    margin-left: 200px;
}
.header-area {
    background: #fff;
}
.banner {
    float: left;
}
header .right-section img {
    border-radius: 50%;
    max-height: 50px;
    float: right;
    margin-left: 10px;
}
header .right-section {
    float: right;
    margin: 34px 55px 34px 0;
    text-align: right;
    overflow: hidden;
    min-width: 250px;
}
header .rating {
    display: block;
    font-size: 11px;
    color: #C4A863;
    text-transform: uppercase;
}
header .ftr-name {
    font-size: 14px;
    color: #363636;
    padding-top: 10px;
    display: block;
}
.site-content {
    margin: 2.5% 2.5% 0;
    background: #fff;
}
.page-content {
    padding: 60px 80px;
    overflow: auto;
    overflow-x: hidden;
}
.page-content::-webkit-scrollbar {
    width: 7px;
}
 
.page-content::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
}
 
.page-content::-webkit-scrollbar-thumb {
  background-color: #66d8cc;
  outline: 1px solid #66d8cc;
}
.page-heading {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    color: #C4A863;
    border-bottom: 1px solid #F0F0F1;
    margin: 0;
    padding: 2.34% 0;
}
.ajax-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    z-index: 8200;
    left: 0;
    top: 0;
}
.ajax-loader .spinner {
    animation: 2s cubic-bezier(0.63, 0.045, 0.34, 1) 0s normal none infinite rh_spinner;
    -webkit-animation: 2s cubic-bezier(0.63, 0.045, 0.34, 1) 0s normal none infinite rh_spinner;
}
.ajax-loader .spinner {
    top: 50%;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    margin: 0 auto;
    display: block;
    position: relative;
    border: 3px solid #e5e5e5;
    margin-top: -20px;
}
.ajax-loader .spinner:before {
    position: absolute;
    content: "";
    border-color: #66c9c3 transparent transparent;
    border-radius: 100%;
    border-style: solid;
    border-width: 3px;
    display: block;
    height: 100%;
    width: 100%;
    top: -3px;
    left: -3px;
}
.right-reading .saved-stat {
    position: absolute;
    top: 4px;
    right: 30px;
    font-size: 11px;
    font-family: -webkit-body;
}

/** Content Index
-------------------------------------------------------------------------------**/
#ftr_name {
    border: 1px solid #f4f4f5;
    padding: 7px 10px;
    width: 100%;
    font-family: 'Roboto Slab', serif;
    max-width: 250px;
}
.formwrap {
    max-width: 610px;
    margin: auto;
    font-size: 12px;
    clear: both;
    overflow: hidden;
    color: #b3b3b3;
}
.lost_password, #create_new_customer {
    display: none;
}
.login-right {
    max-width: 306px;
    float: left;
}
.free-reading {
    float: right;
}
.free-reading .btn {
    display: block;
    margin: 10px auto 0;
}
.login-remember {
    float: left;
}
.login-remember input {
    vertical-align: top;
}
.showform {
    display: block;
    clear: both;
    text-align: right;
}
.login-submit {
    float: right;
    margin: 0 0 10px 0;
}
.backtolg {
    float: right;
    margin-top: 15px;
}
.formwrap .notice {
    margin: 0;
}
.error.notice {
    border-left: 5px solid red;
}
.rqr {
    text-align: center;
    max-width: 140px;
}
/** Dashboard 
-------------------------------------------------------------------------------**/
.dashboard-content .section {
    width: 31.6%;
    float: left;
    margin-right: 2.5%;
}
.dashboard-content .section-3 {
    margin-right: 0;
    padding-left: 50px;
    box-sizing: border-box;
}
.section-heading {
    color: #A67FB5;
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    margin-top: 0;
}
.section-3 .section-heading {
    text-align: left;
}
.section-1 .section-inner {
    text-align: center;
    max-width: 265px;
}
.star-read {
    width: 120px;
    height: 120px;
    margin: 0 auto 20px;
    display: block;
    background: rebeccapurple;
    border-radius: 50%;
}
.reader-rate {
    display: block;
    font-size: 11px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.reader-name {
    font-size: 18px;
}
.stars {
    display: block;
    height: 23px;
    position: relative;
    width: 100px;
    margin: 4px auto 37px;
}
.stars i {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
    background: url(../img/rh-sprites.png) no-repeat -16px -25px;
}
.stars .ratings {
    position: absolute;
    top: 0;
    left: 0;
}
.stars .ratings i {
    background-position:  -16px -1px;
}
.user-request > span {
    display: block;
    width: 33.3%;
    float: left;
    text-align: center;
    color: #B3B3B3;
    font-size: 11px;
    font-weight: normal;
}
.user-request .count {
    display: block;
    font-size: 30px;
}
.section-3 span {
    color: #B3B3B3;
}
.section-3 span, .section-3 .btn {
    display: block;
    font-size: 11px;
    text-transform: uppercase;
    margin-bottom: 18px;
}
.section-3 .btn {
    margin-bottom: 50px;
    width: 175px;
    box-sizing: border-box;
}
/** Start Elemetns
-------------------------------------------------------------------------------**/
.start-content, .start-content p {
    font-size: 12px;
    line-height: 1.6;
}
.start-content h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.bottom-section {
    width: 100%;
    left: 0;
    min-width: 1026px;
    margin-left: -80px;
}
/** Profile Elemetns
-------------------------------------------------------------------------------**/
.date-registered {
    display: block;
    font-size: 11px;
    color: #b3b3b3;
    text-transform: uppercase;
}
.user-avatar img {
    border-radius: 50%;
    margin-bottom: 20px;
    max-width: 120px;
    max-height: 120px;
}
.profile .user-info {
    float: left;
    width: 31.5%;
    text-align: center;
}
.profile .user-info.right {
    margin-left: 8%;
    width: 59.5%;
    text-align: left;
}
.profile .key, .formwrap label {
    color: #a67fb5;
    font-size: 11px;
    text-transform: uppercase;
    display: block;
}
.profile p {
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    color: #363636;
    line-height: 1.6;
}
.backlink {
    position: absolute;
    left: 20px;
    font-size: 12px;
}
.user-row:not(.bio) > p {
    width: 50%;
    float: left;
}
.user-row:not(.bio) > p:first-of-type {
    width: 40%;
    margin-right: 10%;
}
.bio {
    margin-top: 30px;
}
.profile .edit {
    position: absolute;
    top: 16px;
    right: 80px;
}
.notice {
    font-size: 11px;
    color: #807B7B;
    padding: 10px 20px;
    margin: 5px 2.5% -20px;
    border: 1px solid #E6E3E3;
    border-left: 5px solid #66D8CC;
    background: #fff;
    position: relative;
}
.notice i {
    width: 15px;
    height: 15px;
    float: right;
    border: 1px solid #66D8CC;
    color: #66D8CC;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}
.notice i::before {
    content: 'x';
    font-style: normal;
}
/** Edit
-------------------------------------------------------------------------------**/
.new-ava {
    display: block;
    font-size: 11px;
    color: #66d8cc;
    text-transform: uppercase;
    margin: 10px 0 20px;
}
.edit-content .user-avatar img {
    height: 125px;
    width: 125px;
}
.edit-content input[type="text"], .edit-content select, .edit-content textarea, 
.formwrap input:not([type="submit"]):not([type="checkbox"]), .formwrap select {
    border: 1px solid #f4f4f5;
    padding: 7px 10px;
    width: 100%;
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
}
.edit-content textarea {
    font-size: 12px;
    min-height: 130px;
}
.edit-content .key:not(.name) {
    margin: 0 0 5px 10px;
}
input.user-name {
    text-align: center;
    margin: 6px 0;
}
.user-info .btn {
    margin-top: 48px;
}
.btn.deact, .btn.rev {
    color: #66d8cc;
    background: #fff;
    border: 2px solid #66d8cc;
}
.btn.deact:hover, .btn.rev:hover {
    background: #66d8cc;
    border: 2px solid #66d8cc;
    color: #fff;
}
.deact {
    display: none;
}
/** Readings
-------------------------------------------------------------------------------**/
.reading-content {
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    line-height: 1.6;
}
.page-readings .page-content,
.page-in-progress .page-content,
.page-archived .page-content,
.page-view-reading .page-content,
.page-waiting-feedback .page-content,
.page-request .page-content {
    padding: 0 0 120px 0;
}
.left-reading, .right-reading {
    float: left;
}
.left-reading {
    width: 36.5%;
}
.right-reading {
    box-sizing: border-box;
    width: 63.5%;
    padding: 20px 50px;
    position: relative
}
.user-reading-list {
    margin: 0;
    padding: 0;
}
.reading-item {
    display: block;
    cursor: pointer;
    padding: 20px 35px;
    border-bottom: 1px solid #F0F0F1;
    border-right: 1px solid #F0F0F1;
    position: relative;
}
.reading-item.active {
    background: #F8F8F8;
}
.reading-item.active::after {
    width: 13px;
    height: 13px;
    overflow: hidden;
    background: #fff;
    content: "";
    position: absolute;
    right: -7px;
    top: 39%;
    border-left: 1px solid #F0F0F1;
    border-bottom: 1px solid #F0F0F1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.pdt {
    font-size: 12px;
    font-style: normal;
    color: #B3B3B3;
    font-family: 'Montserrat', sans-serif;
}
.due-date {
    display: block;
    color: #C4A863;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
}
.reading-item .name, .user-item .name {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
	position: relative;
	display: inline-block;
    max-width: 150px;
    width: 100%;
    white-space: nowrap;
}
.name .bday,
.name .gender, 
.name .loc {
    font-style: normal;
    color: #B3B3B3;
    font-size: 12px;
    display: block;
    position: absolute;
    left: 0;
    top: 20px;
	text-transform: capitalize;
    white-space: nowrap;
}
.name .gender {
    top: 50px;
}
.name .bday {
    top: 66px;
}
.reading-item img, .user-item img {
    max-height: 50px;
    max-width: 50px;
    border-radius: 50%;
    margin: 0 20px;
}
.user-item img  {
    margin: 0;
}
.reading-msg {
    opacity: 0;
    display: none;
    position: absolute;
}
.reading-msg.active {
    opacity: 1;
    display: block;
    position: relative;
}
.reading-msg .user-img, .reading-msg .avatar {
    max-width: 20px;
    max-height: 20px;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: -15px;
}
.reading-msg ul li a {
    color: #66d8cc;
}
#send-response, .send-reading-response {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}
.right-reading .btn.reading {
    float: right;
}
.reading-msg ul {
    margin: 0;
    padding: 0;
}
.reading-msg li {
    display: block;
    position: relative;
}
.responses {
    margin-top: 40px;
}
.reading-msg .ftr-user {
    color: #A67FB5;
    font-weight: 400;
    font-size: 12px;
}
.reading-view {
    max-width: 490px;
    margin: 0 auto;
    padding: 0 40px;
}
.pdt.rview {
    position: absolute;
    left: -90px;
    color: #B3B3B3;
}
.readers-profile {
    background: #F8F8F8;
    padding: 20px 70px 30px;
    border-bottom: 1px solid #F0F0F1;
    margin-bottom: 40px;
}
.readers-profile .rrate {
    color: #C4A863;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.reader-data {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
}
.reader-data img {
    max-height: 50px;
    max-width: 50px;
    border-radius: 50%;
    float: left;
    margin: 0 20px 0 30px;
}
.readers-profile .btn {
    float: right;
}
.rcaption {
    color: #A67FB5;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.user-action {
    text-align: center;
    color: #B3B3B3;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
.user-action h6 {
    font-size: 12px;
}
.user-action .btn {
    margin: 0 20px 20px;
}
.normal-response {
    display: none;
}
.rating-content {
    width: 100%;
}
.star-rating, .voting {
    width: 112px;
    height: 23px;
    display: block;
    position: relative;
    background: url(../img/star.png) repeat-x 0 0 #fff;
    z-index: 1;
    cursor: pointer;
    opacity: 1;
}
.voting {
    position: absolute;
    top: 0;
    z-index: 3;
    opacity: 0;
}
.voting:hover {
    opacity: 1;
}
.voting > span, .star-rating .rcount {
    background: url(../img/star-rate.png) repeat-x 0 0 transparent;
    opacity: 1;
    display: block;
    position: absolute;
    height: 100%;
    width: 22.4px;
}
.feedback-section .rate-count {
    display: none;
}
.rating {
    margin-bottom: 20px;
}

.rating .star-text {
    margin: 5px 0 -15px 5px;
    font-size: 11px;
    min-height: 18px;
    margin-bottom: -17px;
}
.feedback-section {
    color: #B3B3B3;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    display: none;
}
.feedback-section p {
    margin: 10px 0;
}
.btn.active {
    background: #347B7F;
    border-color: #347B7F;
}
.archived-section .reading-item {
    cursor: default;
}
.reading-item .stars {
    float: right;
    margin: 15px 0 0;
}
.feedback-data .btn {
    float: right;
    margin-top: 4px;
}
.poster-details, .feedback-data {
    width: 42%;
    float: left;
}
.feedback-data {
    width: 50%;
    margin-left: 4%;
    position: relative;
}
.fd-con p {
    margin: 0;
    padding-bottom: 20px;
}
.fd-con {
    max-width: 270px;
    overflow: hidden;
    float: left;
}
.fd-con.maxheight {
    height: 38px !important;
}
.feedback-data .read-more {
    position: absolute;
    left: 0;
    bottom: -15px;
    color: #66D8CC;
    font-weight: bold;
}
.fd-user {
    float: left;
    width: 23%;
}
.fd-data {
    width: 66%;
    float: right;
}
.fd-user .name {
    display: inline-block;
	position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.fd-data .stars {
    float: left;
    clear: both;
    margin-bottom: 0;
}
.reader-page .closed-reading .reading-view {
    float: right;
    width: 60%;
    max-width: 100%;
}
.readings-nav {
    max-width: 80%;
    margin: 0 auto;
    display: block;
}
.readings-nav a {
    font-size: 11px;
    color: #B3B3B3;
    font-weight: normal;
    line-height: 2;
}
.readings-nav a:hover {
    color: #a67fb5;
}
.readings-nav .prev {
    float: left;
}
.readings-nav .next {
    float: right;
}
.finish-date {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.fdates, .freq {
    float: left;
    width: 34%;
    overflow: hidden;
}
.fdates {
    margin-top: 5px;
}
.poster-details.awf {
    padding-left: 5%;
    box-sizing: border-box;
}
.awaiting-feedback .reading-item {
    cursor: auto;
}
.rhctr {
    margin-left: 13px;
    background: #801D8F;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
}
/** Availability
-------------------------------------------------------------------------------**/
.availability-content .section {
    float: left;
    width: 27%;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}
.availability-content .section.left {
    width: 65%;
    margin-right: 8%;
}
.rh-timezone {
    max-width: 200px;
    margin: 0 auto 35px;
    display: block;
    font-size: 11px;
    color: #66d8cc;
    border: 1px solid #66d8cc;
    padding: 10px;
}
.vacation.vac-opt {
    margin: 0;
    position: absolute;
    width: 100%;
    top: 25px;
    right: 80px;
    z-index: 5;
}
.availability-content .ui-datepicker {
    padding-bottom: 0;
    max-width: 500px;
}
.availability-content .ui-datepicker-group {
    width: 50%;
    float: left;
    position: relative;
    padding-bottom: 20px;
}
.ui-datepicker-group-first::after {
    border-right: 1px solid #f0f0f1;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 1px;
    top: 0;
    z-index: 9;
    right: 0;
}
.page-availability .page-content {
    background: url(../img/av-bg.jpg) repeat-y 66% 0;
}
.selected-date {
    font-size: 18px;
    margin-bottom: 30px;
}
.frequent {
    max-width: 210px;
    margin: 0 auto 50px;
    text-align: left;
}
.frequent .vacation {
    color: #b3b3b3;
    margin-top: 20px;
}
.count {
    margin-bottom: 35px;
}
.count input {
    text-align: center;
    padding: 5px 10px;
    border: 1px solid #f0f0f1;
    font-size: 14px;
    color: #66D8CC;
    width: 20px;
}
.count input[type="button"] {
    border-color: #fff;
    background: #fff;
}
.nav-wrapper {
    background: #fff;
    border-top: 1px solid #F0F0F1;
}
.reading-nav {
    margin: 0;
    text-align: center;
}
.reading-nav li {
    display: inline-block;
    padding: 0 15px;
}
.reading-nav li a {
    padding: 15px 6px;
    text-transform: uppercase;
    font-size: 12px;
    border-bottom: 4px solid #fff;
    display: block;
    position: relative;
}
.reading-nav li.active a,
.reading-nav li:hover a {
    border-bottom: 4px solid  #66d8cc;
    color: #66d8cc;
}
.reading-nav .rhctr {
    color: #fff;
    background: #66D8CC;
    position: absolute;
    top: 10px;
    right: -15px;
}
.selected-date > p {
    display: none;
}
.selected-date > .added {
    display: block;
}
.count span {
    color: #B3B3B3;
    font-size: 14px;
}
.sltcd {
    display: block;
    margin-bottom: 5px;
}
.count p {
    margin: 15px 0 0 0;
}
.num-r {
    position: absolute;
    right: -19px;
    top: 4px;
    border: 1px solid #801D8F;
    width: 19px;
    overflow: hidden;
    border-radius: 3px;
    color: #801D8F;
    background: #fff;
    z-index: 999;
    line-height: 1.5;
}
.availability-content .day {
    text-transform: uppercase;
}
/** Members List 
-------------------------------------------------------------------------------**/
.page-members-list .page-heading, .page-reading-list .page-heading {
    display: none;
}
.page-members-list .page-content, .page-reading-list .page-content {
    padding: 0;
}
.list-format {
    padding: 0;
    margin: 0;
    clear: both;
}
.item-search {
    float: right;
    margin: 10px 10px 10px 0;
    /*padding: 8px 10px;
    border-radius: 3px;
    border: 1px solid #F0F0F1;
    width: 100%;
    max-width: 250px;*/
}
.item-search input {
    padding: 6px 10px;
    border-radius: 2px;
    border: 1px solid #F0F0F1;
}
.list-format li {
    display: block;
    overflow: hidden;
    padding: 7px 0;
    border-bottom: 1px solid #F0F0F1;
}
.list-format .list-heading {
    padding: 15px 0;
    border-top: 1px solid #F0F0F1;
}
.list-format li .item {
    display: block;
    float: left;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.list-heading .item {
    color: #B3B3B3;
    font-size: 11px;
}
.single-reading .name {
    padding-left: 30px;
}
.ul-gb {
    width: 14.5%;
}
.ul-na {
    width: 23%;
}
.ul-ar {
    width: 12.5%;
}
.ul-cr {
    width: 13.5%;
}
.reading-lists .ul-cr {
    width: 10.5%;
}
.ul-ur {
    width: 19.5%;
}
.ul-su {
    width: 12%;
}
.ul-cm {
    width: 15%;
}
.user-item span {
    color: #C4AB63;
    font-size: 14px;
}
.user-item .name {
    text-transform: capitalize;
    color: #222;
    line-height: 1.3;
    padding-top: 9px;
    float: left;
}
.users-lists .user-item .name {
	padding-left: 20%;
}
.user-item u {
    display: block;
    color: #C4AB63;
    text-decoration: none;
    font-size: 11px;
    text-transform: uppercase;
}
.user-item img {
    float: left;
    width: 100%;
    opacity: 0;
}
.user-item i {
    font-style: normal;
    display: block;
    text-align: left
}
.members-section .user-item span:not(.ul-na) {
    padding-top: 15px;
}

.suspend, .cancel-mem, .suspended, .reassign, .deleter {
    background: url(../img/rh-sprites.png) no-repeat -34px -218px transparent;
    width: 25px;
    height: 25px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
.suspended, .suspend {
    background: url(../img/suspend.png) no-repeat -24px 0 transparent;
}
.suspend:hover, .suspended {
    background-position: 3px 0;
}
.cancel-mem, .deleter {
    background-position: 2px -123px;
}
.cancel-mem:hover, .deleter:hover {
    background-position: 2px -154px;
}
.reassign {
    background-position: 1px -184px;
}
.reassign:hover {
    background-position: 1px -215px;
}
.page-members-list .fancybox-close,
.page-reading-list .fancybox-close {
    display: none;
}
.user-editor {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    line-height: 1.3;
    padding: 20px 0;
}
.user-editor .btn {
    margin: 5px 10px;
    padding: 10px 34px;
}
.user-editor .btn-action:not(#manual):not(#manual-reassign) {
    background: #B40032;
    border-color: #B40032;
    color: #fff;
}
.edit-icon {
    background: url(../img/rh-sprites.png) no-repeat 0 -86px transparent;
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto 20px;
}
.edit-note {
    font-size: 16px;
    margin-bottom: 0;
    font-weight: bold;
}
.edit-subnote {
    font-size: 13px;
    margin-top: 10px;
}
.ul-reader {
    width: 28%;
}
.ul-user {
    width: 23%;
}
.ul-dd {
    width: 15%;
}
.single-reading .item {
    font-size: 11px;
}
.single-reading span:not(.ul-reader):not(.ul-user) {
    padding-top: 15px;
}
.reading-lists li .item:not(.ul-reader) {
    text-align: left;
}
.reading-lists li .ul-cr.item {
    text-align: center;
}
.single-reading .ul-reader {
    box-sizing: border-box;
    padding-left: 3%;
}
.user-item .ul-user img {
    margin-left: 0;
}
.list-heading .ul-user {
    box-sizing: border-box;
    padding-left: 6.7%;
}
.res-nav {
    text-align: center;
    padding: 20px;
}
.res-nav a, .res-nav .current {
    background: #fff;
    border: 1px solid;
    display: inline-block;
    width: 25px;
    text-align: center;
    height: 25px;
    vertical-align: middle;
    line-height: 25px;
    border-radius: 2px;
    margin: 0 2px;
}
.res-nav .prev, .res-nav .next {
    font-size: 22px;
    line-height: 1;
}
/** Calendar 
-------------------------------------------------------------------------------**/
.ui-state-highlight, .ui-state-highlight, .ui-datepicker-current-day {
    position: relative;
}
.ui-state-highlight a::before,
.ui-datepicker-current-day1:not(.ui-datepicker-today) a::before {
    content: "\2713";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: #66D8CC;
    top: 3px;
    left: 6px;
    border-radius: 50%;
    color: #fff;
    font-weight: 900;
    line-height: 1.7;
}
.ui-state-highlight.onvacation a::before {
    background: #801D8F;
    content: "\2A2F";
    line-height: 1.5;
}
.ui-datepicker-unselectable {
    color: #f0f0f1;
}
.ui-datepicker-header {
    background: #801D8F;
    color: #fff;
    position: relative;
    padding: 15px;
    font-size: 14px;
}
.ui-datepicker tbody tr:first-of-type td {
    padding-top: 15px;
}
.ui-datepicker-title {
    text-align: center;
}
.ui-datepicker-prev, .ui-datepicker-next {
    position: absolute;
    top: 15px;
    left: 15px;
 }
.ui-datepicker-next {
    left: auto;
    right: 15px;
}
.ui-datepicker-header .ui-state-disabled {
    display: none;
}
.ui-datepicker-prev::before, .ui-datepicker-next::before {
    content: '<';
    display: block;
    width: 15px;
    height: 16px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}
.ui-datepicker {
    border: 1px solid #F0F0F1;
    position: relative;
    padding-bottom: 20px;
    max-width: 248px;
    margin: 0 auto;
}
.ui-datepicker table {
    margin: 0 5%;
    width: 90%;
    z-index: 1;
    position: relative;
}
.ui-datepicker::before {
    position: absolute;
    background: #801D8F;
    width: 100%;
    height: 50px;
    display: block;
    content: "";
    left: 0;
    top: 42px;
    z-index: 0;
}
.ui-datepicker-next::before {
    content: '>';
}
.ui-datepicker-prev span, .ui-datepicker-next span {
    display: none;
}
.ui-datepicker thead {
    background: #801D8F;
}
.ui-datepicker thead th {

}
.ui-datepicker thead th {
    color: #fff;
    padding: 10px 0;
    font-size: 11px;
}
.ui-datepicker tbody td a {
    color: #B3B3B3;
}
body > #ui-datepicker-div {
    display: none;
}
.vacation {
    text-transform: uppercase;
    font-size: 11px;
    color: #A67FB5;
    margin: 33px auto 0;
    position: relative;
    cursor: pointer;
    max-width: 220px;
}

.mode {
    display: block;
    position: absolute;
    width: 80px;
    height: 22px;
    background: #E9F0F3;
    top: -5px;
    right: 0;
    padding: 2px;
    border-radius: 2px;
}
.mode::before {
    content: "";
    display: block;
    height: 22px;
    width: 38px;
    background: #fff;
    border-radius: 2px;
    webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}
.active .mode::before {
    -moz-transform: translateX(110%);
    -o-transform: translateX(110%);
    -webkit-transform: translateX(110%);
    transform: translateX(110%);
}
.active .mode {
    background: #66D8CC;
}
.no-opt .btn-action {
    display: none;
}
.sortit {
    position: relative;
    font-style: normal;
    cursor: pointer;
}
.sortit::after {
    /*content: "↓";*/
    content: "⬇";
    font-size: 15px;
    position: absolute;
    right: -21px;
    top: 0;
    line-height: 1;
}
.sortit.desc::after {
    /*content: "↑";*/
    content: "⬆";
}
.sortit.active::after {
    color: #66D8CC;
}
.reading-lists .sortit::after {
    right: -15px;
    top: -1px;
}

/** Spites Elements 
-------------------------------------------------------------------------------**/
.customer-page .back-to {
	visibility: hidden;
}
.back-to, .side-nav a {
    position: relative;
}
.back-to::before, .side-nav a::before {
    webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    content: "";
    background: url(../img/rh-sprites.png) no-repeat;
    display: inline-block;
    width: 25px;
    height: 20px;
    background-position: -39px 0px;
    position: absolute;
    top: 10px;
    left: 0;
}
.back-to::before {
    left: 20px;
    top: 15px;
    background-position: -14px -65px;
    width: 15px;
}
.back-to:hover::before {
    background-position-y: -46px ;
}
.dashboard a::before {
    background-position: -39px -50px;
}
.start a::before {
    background-position: -39px -149px;
}
.profile a::before {
    background-position: -39px -100px;
}
.readings a::before {
    background-position: -39px -124px;
}
.availability a::before {
    background-position: -39px -27px;
}
.support a::before {
    background-position: -39px -175px;
}
.logout a::before {
    background-position: -39px -74px;
}
.side-nav li.active a::before, .side-nav li:hover a::before {
    background-position-x: -71px;
}

/** Tables. Custom Elements
-------------------------------------------------------------------------------**/
.screen-reader-text, .screen-reader-text span, .ui-helper-hidden-accessible {
    position: absolute;
    margin: -1px;
    padding: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
    word-wrap: normal!important;
}
.media-menu .media-menu-item:nth-of-type(2) {
    display: none;
}
input, select, button {
    outline: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none; 
    margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}
.trans {
    webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 2;
    margin-bottom: 40px;
    margin-bottom: 4rem;
    width: 100%;
}
td, th {
    text-align: center;
    font-size: 13px;
    color: #B3B3B3;
}
.fadeIn {
    -webkit-animation: fadein 1s; 
       -moz-animation: fadein 1s; 
        -ms-animation: fadein 1s; 
         -o-animation: fadein 1s;
            animation: fadein 1s;
}
.wp-editor-container {
    border: 1px solid #ddd;
}
#new-reading {
    margin-top: 15px;
}
#wp-link-wrap {
    font-size: 12px;
    font-family: sans-serif;
}
.nectar-shortcode-generator {
    display: none !important;
}
/** Animation 
-------------------------------------------------------------------------------**/
@keyframes rh_spinner {
    0% {
        transform: scale(1) rotate(0deg);
        -o-transform: scale(1) rotate(0deg);
    }
    50% {
        transform: scale(0.8) rotate(360deg);
        -o-transform: scale(0.8) rotate(360deg);
    }
    100% {
        transform: scale(1) rotate(720deg);
        -o-transform: scale(1) rotate(720deg);
    }
}

@-webkit-keyframes rh_spinner {
    0% {
        -webkit-transform: scale(1) rotate(0deg);
    }
    50% {
        -webkit-transform: scale(0.8) rotate(360deg);
    }
    100% {
       -webkit-transform: scale(1) rotate(720deg);
    }

}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}